node_modules/
build/
.qodo/
.vscode/
.zencoder/

# account cookies
appstate.json
cookies.json
cookies.txt

# nodejs cache files
npm-debug.log*
yarn-error.log*

# misc
*.log

#logs
logs/*.log
logs/*/*.log
logs/**/*.log
logs/*

# editor config
.idea/
.vscode/
.editorconfig